<mat-dialog-content [style.overflow]="'hidden'">
        <div class="dialog__container" *ngIf="(username$ | async) as username">

            
            <div class="dialog__header" mat-dialog-title>
                <button class="cancelThoughtButton" mat-icon-button color="primary" mat-dialog-close>
                    <mat-icon>cancel</mat-icon>
                </button>
                <h3>What's on your mind {{username}}?</h3>
            </div>
            

            <div class="profile__picture__container" *ngIf="(profilePicture$ | async) as profilePicture">
                <img mat-card-avatar class="profile__picture__image" src="{{profilePicture}}">
            </div>

            <mat-form-field [formGroup]="newThoughtFormGroup" class="dialog__textarea__formfield" appearance="fill">
                <textarea class="dialog__textarea" formControlName="textInputControl" #dialogInput matInput mat-autosize='true' matAutosizeMinRows="1" matAutosizeMaxRows="4"></textarea>
            </mat-form-field>


            <div class="media__outer__div" *ngIf="(mediaInputPreview$ | async) as files">
                <div *ngIf="files.length > 1; else media" style="display: flex;">
                    <div style="display: flex; margin: 5px; flex-direction: column;">
                        <div class="media__div" *ngFor="let file of files.slice(0,2)" style="width: 200px; height: 100px;">
                            <img mat-card-image class="mediaContent" src="{{file}}" alt="upload">
                        </div>
                    </div>
                    <div style="display: flex; margin: 5px; flex-direction: column;">
                        <div class="media__div" *ngFor="let file of files.slice(2)" style="width: 200px; height: 100px;">
                            <img mat-card-image class="mediaContent" src="{{file}}" alt="upload">
                        </div>
                    </div>
                </div>
                <ng-template #media>
                    <div class="media__div" *ngFor="let file of files">
                        <img mat-card-image class="mediaContent" src="{{file}}" alt="upload">
                    </div>
                </ng-template>

            </div>

            
            <div mat-card-footer class="dialog__footer">
                    
                        <div mat-card-actions class="newThoughtFormFields">
                            <!-- <mat-form-field [formGroup]="newThoughtFormGroup" [style.width]="'40px'">
                                <button mat-icon-button color="primary"><mat-icon style="place-content: center;">gif</mat-icon></button>
                            </mat-form-field> -->
                            <mat-form-field [formGroup]="newThoughtFormGroup" [style.width]="'40px'">
                                    <button mat-icon-button color="primary"><mat-icon style="place-content: center;">image</mat-icon></button>
                                    <ngx-mat-file-input class="mediaInputElement" multiple='true' formControlName="mediaInputControl" ></ngx-mat-file-input>
                            </mat-form-field>
                            <!-- <mat-form-field [formGroup]="newThoughtFormGroup" [style.width]="'40px'">
                                <button mat-icon-button color="primary"><mat-icon style="place-content: center;">emoji_emotions</mat-icon></button>
                            </mat-form-field> -->
                            
                        </div>
                <div *ngIf="(mediaInputPreview$ | async) as files; else textButton" >
                    <button class="createThoughtButton" (click)="createThought(username, files)" mat-raised-button color="primary" ><mat-icon>mediation</mat-icon>'meta'</button>
                </div>
                <ng-template #textButton>
                    <button class="createThoughtButton" (click)="createThought(username, [])" mat-raised-button color="primary" ><mat-icon>mediation</mat-icon>'meta'</button>
                </ng-template>
                <!-- <button class="createThoughtButton" (click)="createThought(username)" mat-raised-button color="primary" ><mat-icon>mediation</mat-icon>'meta'</button> -->
            </div>
        </div>

        
    <!-- </mat-form-field> -->
</mat-dialog-content>