<mat-dialog-content>
    <!-- <mat-form-field> -->
        <div class="dialog__container" *ngIf="(username$ | async) as username">
            <div class="dialog__header" mat-dialog-title>
                <button class="cancelThoughtButton" mat-icon-button color="primary" mat-dialog-close><mat-icon>cancel</mat-icon></button>
                <!-- <hr size="100"> -->
                <h3>What's on your mind {{username}}?</h3>
                
            </div>
            

            <div class="profile__picture__container" *ngIf="(profilePicture$ | async) as profilePicture">
                <img class="profile__picture__image" src="{{profilePicture}}">
            </div>

            <mat-form-field [formGroup]="newThoughtFormGroup" class="dialog__textarea__formfield" appearance="fill">
                <textarea class="dialog__textarea" formControlName="textInputControl" #dialogInput matInput mat-autosize='true' matAutosizeMinRows="1" matAutosizeMaxRows="4"></textarea>
            </mat-form-field>
            <div *ngIf="(mediaInputPreview$ | async) as files">
                <div *ngFor="let file of files">
                    <img src="{{file}}" alt="upload">
                </div>
            </div>

            
            <div class="dialog__footer">
                <!-- <hr> -->
                <div class="thought__options__container">
                    <button mat-icon-button color="primary"><mat-icon>gif</mat-icon></button>
                    <mat-form-field [formGroup]="newThoughtFormGroup">
                        <ngx-mat-file-input #mediaFileInput multiple='true' formControlName="mediaInputControl"><mat-icon>image</mat-icon></ngx-mat-file-input>
                    </mat-form-field>
                    <!-- <button mat-icon-button color="primary"><mat-icon>image</mat-icon></button> -->
                    <button mat-icon-button color="primary"><mat-icon>emoji_emotions</mat-icon></button>
                </div>

                <!-- <hr width="1" size="5"> -->
                <button class="createThoughtButton" (click)="createThought(username)" mat-raised-button color="primary" mat-dialog-close><mat-icon>mediation</mat-icon>'meta'</button>
            </div>
        </div>

        
    <!-- </mat-form-field> -->
</mat-dialog-content>