<mat-dialog-content>
    <mat-form-field class="example-chip-list">
        <mat-label>Create New Chat</mat-label>
        <mat-chip-list #chipList aria-label="Chat member selection" >
          <!-- <ng-container  *ngIf="( newChatMembers$ | async) as newChatMembers"> -->
            <mat-chip
            *ngFor="let username of newChatMembers$ | async"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(username)">
            {{username}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        <!-- </ng-container> -->

          <input
            placeholder="Chatroom members..."
            #newChatInput
            [formControl]="newChatForm"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let username of filteredUsernames$ | async" [value]="username">
            {{username}}
          </mat-option>
        </mat-autocomplete>
        <mat-dialog-actions>
            <button [mat-dialog-close]="true" [disabled]="creationDisabled" (click)="create()">Create</button>
            <button [mat-dialog-close]="false">Cancel</button>
        </mat-dialog-actions>
      </mat-form-field>
</mat-dialog-content>