
<div *ngIf="(metaThoughts$ | async) as thoughts">
    <!-- <div *ngFor="let thought of thoughts"> -->
        <mat-card class="mat__card" *ngFor="let thought of thoughts">
            <mat-card-content class="mat__card__content">
                <div class="profile__picture__container">
                    <img class="profile__picture__image" src="{{thought.authorProfile.profilePicture}}">
                </div>
                <div class="author" *ngIf="thought.authorProfile">
                   <h2>{{thought.authorProfile.name}}</h2> <p>@{{thought.authorProfile.username}}</p><p>&#8226;</p>
                   <p style="font-size:xx-small">{{thought.createdAt.toDate().getMonth()}}.{{thought.createdAt.toDate().getDate()}}.{{thought.createdAt.toDate().getFullYear()}}</p>
                </div>
                
                <div class="thought__text__container" *ngIf="thought.text">
                    {{thought.text}}
                </div>
                <div class="thought__image__container" *ngIf="thought.media">
                    <div *ngFor="let image of thought.media">
                        <img class="thought__image" src="{{image}}" >
                    </div>
                    
                </div>
                <!-- <div class="thought__image__container" *ngIf="thought.image">
                    <img class="thought__image" src="{{thought.image}}" >
                </div> -->
            </mat-card-content>
        </mat-card>
    <!-- </div> -->
</div>