.mat__card__content{
    display: grid;
    grid-template-columns: 70px repeat(2, 1fr);
    grid-template-rows: auto;
}
.mat__card{
    // padding:5%;
    margin: 1%;
    margin-left: 5%;
    max-width: 600px;
}

.profile__picture__container{
    grid-area: 1/1/4/1;
    width: 10%;
    max-width: 20%;
    // height: 100%;
}
.profile__picture__image{
    width: 100%;
    height: auto;
    border-radius: 9999px;
    border: 1px;
    margin-left: 3%;
    min-width: 58px;
    border: solid black;
    border-width: 5px;
    box-sizing: border-box;
}
.author{
    grid-area: 1/2/1/4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    h2{
        display: flex;
        margin-right: 2%;
        align-items: center;
    }
    p{
        display: flex;
        align-items: center;
        margin: 1%;
        color: darkgrey;
    }
}

.thought__text__container{
    grid-area: 2/2/2/4;
    grid-auto-flow: row;
}

.thought__image__container{
    align-content: flex-start;
}

.thought__image{
    grid-area: 2/2/2/4;
    max-width: 40%;
}