


<div style="text-align:center" *ngIf="(intradaySeriesData$ | async) as isd">
  <mat-card class="intradayCard">
    <mat-card-content>
      <!-- <div style="text-align:center" *ngIf="(intradaySeriesData$ | async) as isd"> -->
        <apx-chart 
          [series]="[{data: isd.series.data}]"
          [chart]="options.chart"
          [xaxis]="options.xaxis"
          [yaxis]="options.yaxis"
          [title]="options.title"
          [tooltip]="options.tooltip"
          [theme]="options.theme"

        ></apx-chart>
      <!-- </div> -->
    </mat-card-content>
  </mat-card>




</div>