


<div style="text-align:center" *ngIf="(seriesData$ | async) as isd">
  <mat-card class="intradayCard">
    <mat-card-content>
      <!-- <div style="text-align:center" *ngIf="(intradaySeriesData$ | async) as isd"> -->
        <apx-chart 
          [series]="isd.series"
          [chart]="isd.chart"
          [xaxis]="options.xaxis"
          [yaxis]="options.yaxis"
          [title]="options.title"
          [tooltip]="options.tooltip"
          [theme]="options.theme"
          [stroke]="options.stroke"
        ></apx-chart>
      <!-- </div> -->
    </mat-card-content>
  </mat-card>
</div>
<div class="technical__indicators" *ngIf="(technicalIndicators$ | async) as technicalIndicators">
  <mat-card>
    <mat-content>
      <form [formGroup]="technicalIndicatorForm">
        <mat-form-field>
          <mat-select placeholder="none - select indicator" (selectionChange)="addTechnicalIndicator()" formControlName="technicalIndicatorOne">
            <mat-option *ngFor="let option of technicalIndicators" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-content>
  </mat-card>
</div>

<!-- [series]="[{
  name: 'tslaCandle',
  type: 'candlestick',
  data: isd.series.data}
  ]" -->