.candlestick__controls__container{
    display: flex;
    .candlestick__search__input{
        margin-left: 5%;
    }

    .candlestick__interval__selection{
        margin-left: 5%;
    }
}

.stocksearch__option{
    font-size: x-small;
}