<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="core__lotus">
        <div class="logo">
          <!-- <div class="creed__insignia__image__container"><img class="creed__insignia__image" src="assets\assassins-creed-logo-assassin-creed-celtic-logo-quidek-deviantart-28.png"></div> -->
          <div class="penrose__octagon__image__container"><img class="penrose__octagon__image" src="assets\Penrose_octagon.svg.png"></div>
          <div class="penrose__octagon__image__container"><img class="penrose__octagon__image" src="assets\Penrose_octagon.svg.png"></div>
          <div class="penrose__octagon__image__container"><img class="penrose__octagon__image" src="assets\Penrose_octagon.svg.png"></div>
        </div>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLinkActive="active" routerLink='/user/bodhi'>Profile</a>
      <a mat-list-item routerLinkActive="active" routerLink='/messages'>Messages</a>
      <a mat-list-item routerLinkActive="active" routerLink='/groups'>Groups</a>
    </mat-nav-list>
    <div class="meta__button">
      <button mat-raised-button color="primary" (click)="createNewThought()"><mat-icon>mediation</mat-icon>'meta'</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header__primary">
        <span>calypso</span>
        <div class="signIn__temp">
          <button mat-flat-button color="basic" (click)="signIn()">Sign In</button>
        </div>
      </div>

      
      <!-- <div class="penrose__octagon__image"> -->

      <!-- </div> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
