



<div class="flex-container" *ngIf="currentUser$ | async as username" >
        <ng-container *ngIf="(chatrooms$ | async) as chatrooms">
            <div class="chatrooms__container">
                <div class="chatroom__list__header">
                    <h2>Hermes</h2>
                    <div class="create_chatroom_btn">
                        <button mat-mini-fab color="warm"  (click)=openDialog()><mat-icon>add_comment</mat-icon></button>
                    </div>
                </div>
                <ng-container *ngFor="let chatroom of chatrooms">
                    <div class="chatroom__selection" (click)="selectChatroom(chatroom.docId)">
                        {{chatroom.title}}
                    </div>
                </ng-container>
            </div>
        </ng-container>


    <div class="chatroom__container" [formGroup]="chatroomForm">
        <div class="newChatroom__header" *ngIf="newChatroom">
            Creating a new chatroom with: 
            <div *ngFor="let user of newChatUsers$ | async" >{{user}}</div>
        </div>
        <ng-container *ngIf="!newChatroom">
            <ng-container *ngIf="(selectedChatroom$ | async) as chatroom">
                <div class="chatroom__header" >
                    <!-- <div class="chatroom__title" *ngIf="!chatroomTitleEditing; else chatroomTitleEdit"> -->
                        <h2 *ngIf="!chatroomTitleEditing; else chatroomTitleEdit">{{chatroom.title}}</h2>
                    <!-- </div> -->
                    <ng-template #chatroomTitleEdit>
                        <div class="chatroom__title_edit">
                            <mat-card>
                                <button mat-mini-fab (click)="this.chatroomTitleEditing = false"><mat-icon>cancel</mat-icon></button>
                                <input formControlName="chatroomTitle" placeholder="{{chatroom.title}}" />
                                <button mat-stroked-button color="primary" (click)="setChatroomTitle(chatroom.docId)">Confirm</button>
                            </mat-card>
                        </div>
                    </ng-template>
                    <div class="chat__menu__button">
                        <button mat-mini-fab color="primary"  aria-label="Chatroom Options" [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editChatroomTitle()">
                              <mat-icon>mode_edit</mat-icon>
                              <span>Edit chatroom name</span>
                            </button>
                            <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>notifications_off</mat-icon>
                              <span>Disable alerts</span>
                            </button>
                          </mat-menu>
                    </div>
                    
                </div>
            </ng-container>

            <div class="chatroom" *ngIf="(selectedChatroomHistory$ | async) as messages">
                <ng-container *ngFor="let message of messages">
                    <div [ngClass]="message.sender == username ? 'sent message' : 'received message' ">
                        <p>{{message.text}}</p>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <div class="controls" *ngIf="newChatroom || showControls">
            <input class="chat__input" formControlName="textInput" />
            <button class="send__button" (click)="sendMessage(username)">Send</button>
        </div>
    </div>
</div>
