
.flex-container {
  display: flex;
}
.chatrooms__container{
  flex-direction: row;
  width: 100%;
  max-width: 30%;
}

.chatroom__container {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.new_chatroom_button{
  padding: 4px 4px 4px 4px;
}

.chatroom__selection{
  flex-direction: column;
  height: 35px;
  padding: 5px;
}


.chatroom__container{
  display: flex;
  flex-direction: column;
}

.newChatroom__header{
  display: flex;
  flex-direction: column;
}

.chatroom__header{
  display: flex;
  // margin: auto;
  // // justify-content: space-between;
  // align-items: center;
  // flex-direction: row;
  justify-content: space-between;

  h2{
    text-align: center;
    padding-left: 30%;
  }

  .chat__menu__button{
    margin: 4px 2px 4px 2px;
  }
}


.chatroom {
    display: flex;
    padding: 10px;
    height: 100%;
    max-width: 100%;
    margin: 0 0 0 25%;
    overflow-y: scroll;
    flex-direction: column;
    flex-grow: 2;
}

.message {
  display: flex;
  align-items: center;
}
  
p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
}
.sent {
    flex-direction: row-reverse;
}
.sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
.received p {
    background: #e5e5ea;
    color: black;
}


// form{
//   height: 10vh;
//   /* position: fixed; */
//   bottom: 0;
//   // background-color: rgb(24, 23, 23);
//   width: 100%;
//   max-width: 728px;
//   display: flex;
//   font-size: 1.5rem;
// }
  .controls{
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 50%;

    .chat__input{
      line-height: 1.5;
      width: auto;
      font-size: 1.5rem;
      background: rgb(58, 58, 58);
      color: white;
      outline: none;
      border: none;
      padding: 0 10px;
    }
    .send__button{
      background-color: #282c34; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 1.25rem;
    }


  }

