


.profile__card {
    max-width: fit-content;
    margin: 5%;
    .profile__info__container{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px 100px ;
        grid-template-rows: 100px 50px 50px 50px auto auto;
    }
}

.headerPicture__container{
    position: relative;
    display: grid;
    grid-area: 1/1/4/7;

    .headerPicture{
        border-radius: 9999px;
        width: 600px;
        height: 200px;
        object-fit: cover;
        border: 1px solid black;
        box-sizing: border-box;
    }
}

.profile__picture__container{
    grid-area: 3/1/4/2;
    width: 100%;
    padding:5px;
    z-index: 1;
    .profile__picture__image{
        width: 75px;
        height: 75px;
        object-fit: cover;

        border-radius: 9999px;
        margin: 5px;
        border: 1px solid black;
        box-sizing: border-box;
    }
}

.profile__username{
    grid-area: 4/2/5/3;
    align-self: center;
    margin-top: 4px;
}
.card__content{
    grid-area: 5/3/6/7;
}


.editProfile__button{
    grid-area: 6/6/7/7;
}