.headerPicture__container{
    position: relative;
    flex-direction: column;
    top: auto;
    display: grid;
    grid-area: 1/2/7/7;
}

.headerPicture{
    border-radius: 9999px;
    width: 100%;
    border: solid black;
    border-width: 5px;
    box-sizing: border-box;
}

.profile__container{
    display: grid;
}

.profile__header{
    position: relative;
    flex-direction: column;
    top: auto;
    display: grid;

}

.profile__header__img{
    height: 200px;
    width: auto;
}

.profile__bio{
    display: grid;
    position: relative;
}

.profile__pic{
    display: grid;
    position: absolute;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}


.profile__card {
    width: 70%;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
}



.profile__edit__button{
    right: auto;
}

.profilePicture__container{
    display: grid;
    // grid-area: 1/ 1;
    grid-area: 6/2/8/2;
    align-self: center;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto;
    z-index: 1;
// other look/option
    // display: grid;
    // grid-area: 2/2/6/8;
    // align-self: flex-end;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto;
    // z-index: 1;

    .profilePictureInput{
        display: none;
         
    }

    .updateProfilePicture{
        grid-area: 9/5/10/2;
        cursor: pointer;
        display: grid;

    }

    .profilePicture__imageContainer{
        grid-area: 2/2/10/7;
        width: 100%;
        height: 100%;
    }
}
.profilePicture{
    width: 100%;
    height: auto;
    border-radius: 9999px;
    border: 1px;
    margin-left: 3%;
    min-width: 58px;
    border: solid black;
    border-width: 5px;
    box-sizing: border-box;
}

.profile__username{
    grid-area: 7/3/10/3;
    align-self: center;
    margin-top: 4px;
}
.card__content{
    grid-area: 10/3/10/7;
}
