.headerPicture__container{
    position: relative;
    flex-direction: column;
    top: auto;
    display: grid;
}

.headerPicture{
    border-radius: 9999px;
}

.profile__container{
    display: grid;
}

.profile__header{
    position: relative;
    flex-direction: column;
    top: auto;
    display: grid;

}

.profile__header__img{
    height: 200px;
    width: auto;
}

.profile__bio{
    display: grid;
    position: relative;
}

.profile__pic{
    display: grid;
    position: absolute;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

.profilePicture{
    width: 15%;
    height: auto;
    border-radius: 9999px;
    border: 1px;
}

.profile__edit__button{
    right: auto;
}

.profilePicture__container{
    display: grid;
    // grid-template-columns: 250px 1fr;
    // grid-template-rows: 150px 1fr;
}

.profilePictureInput{
    display: none;
    // cursor: pointer; 
}
.updateProfilePicture{
    display: inline;
    // cursor: pointer;
    // grid-area: 1 / 1 / 1 / 1;
}